<%- include ('../partials/header'); %>

<%- include ('../partials/navbar'); %>

<div class="container">
    <div class="row">
        <!--      enctype="multipart/form-data"-->
        <form
                class="col s12 m12 l6 offset-l3"
                action="/dashboard"
                method="post"
                data-app-component="upload"
        >
            <div class="row">
                <div class="input-field">
                    <input
                            id="club"
                            type="text"
                            name="club"
                            class="validate"
                    >
                    <label for="club">Club Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input
                            id="country"
                            type="text"
                            name="country"
                            class="validate"
                    >
                    <label for="country">Country</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input
                                type="file"
                                name="upload"
                                id="upload-input"
                                data-upload-ref="upload-input"
                        >
                    </div>
                    <div class="file-path-wrapper">
                        <input
                                class="file-path validate"
                                type="text"
                                data-upload-ref="file-path"
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <button
                        class="waves-effect waves-light btn left"
                        type="button"
                        data-upload-ref="upload-btn"
                >
                    Upload File
                </button>

                <button
                        class="waves-effect waves-light btn right"
                        type="submit"
                >
                    Add Group
                </button>
            </div>
        </form>
    </div>
</div>

<!--    <footer class="page-footer light-blue darken-4">-->
<!--        <div class="footer-copyright light-blue darken-4">-->
<!--            <div class="container">-->
<!--                © 2020 Copyright Text-->
<!--                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
</div>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
